<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670013664753-6f5qn6ujbv5ova1711t3dn4r1tme9rhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670013664753-6f5qn6ujbv5ova1711t3dn4r1tme9rhp</string>
	<key>API_KEY</key>
	<string>AIzaSyAnepKS8QzLf2OU7KjDTN6Hr0jCRncW5GM</string>
	<key>GCM_SENDER_ID</key>
	<string>670013664753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lee.sns.sns</string>
	<key>PROJECT_ID</key>
	<string>flutter-study-b32e2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-study-b32e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670013664753:ios:8230f750754db357bb6850</string>
</dict>
</plist>